* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$dark-blue: #4980c7;
$gray-transparent-border: 1px solid rgba(187, 187, 187, 0.68);
$gray-transparent-border-translucid: 0px 1px 1px rgba(87, 87, 87, 0.1);
$dark-box-shadow: 1px rgba(165, 160, 160, 0.1);
$normal-width: 150px;
$normal-height: 150px;
$medium-bold: 700;
